<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @if(isProfile()) {
  <img [src]="image()" alt="head" (click)="triggerFileInput()" #img />
  }
  <input
    type="file"
    accept="image/*"
    #fileInput
    style="display: none"
    (change)="onImageUpload($event)"
    #imageUploadInput
  />
  <div class="title">
    <p>{{ title() }}</p>
    @if(!isProfile()){ @if(!isEditing){
    <button type="button" (click)="onCancle()">Edit</button>
    }@else {
    <div class="two-button">
      <button type="submit" class="confirm">Submit</button>
      <button type="button" class="cancel" (click)="onCancle()">Cancel</button>
    </div>
    } }
  </div>
  <div class="form-rows">
    <input
      type="text"
      [placeholder]="firstDisplay()"
      [style.backgroundColor]="isEditing ? '#ece2fe' : '#d8c4fa'"
      [formControl]="form.controls.firstLine"
    />
    <input
      type="text"
      [placeholder]="secondDisplay()"
      [style.backgroundColor]="isEditing ? '#ece2fe' : '#d8c4fa'"
      [formControl]="form.controls.secondLine"
    />
  </div>
  <div class="form-rows">
    <input
      type="text"
      [placeholder]="thirdDisplay()"
      [style.backgroundColor]="isEditing ? '#ece2fe' : '#d8c4fa'"
      [formControl]="form.controls.thirdLine"
    />
    <input
      type="text"
      [placeholder]="forthDisplay()"
      [style.backgroundColor]="isEditing ? '#ece2fe' : '#d8c4fa'"
      [formControl]="form.controls.forthLine"
    />
  </div>
  @if(isProfile()){ @if(!isEditing){
  <button type="button" class="big-button" (click)="onCancle()">Edit</button>
  } @else {
  <div class="two-button center">
    <button type="submit" class="big-button confirm">Submit</button>
    <button type="button" class="big-button cancel" (click)="onCancle()">
      Cancel
    </button>
  </div>
  } }
</form>
